@import url(https://fonts.googleapis.com/css?family=Dela+Gothic+One:300,400,500,600,700&display=swap);
:root {
  --ff: "Dela Gothic One";
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Consolas, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
